*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: white;
  font-family: "Titillium Web", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5vh;
  flex-direction: column;
  padding-bottom: 5vh;
  background-color: rgb(0, 128, 255);
}

.navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: max-width;
  align-items: center;
  padding-top: 0.5vw;
  padding-left: 3vw;
  border-radius: 50px;
  padding-right: 3vw;
  padding-bottom: 0.5vw;
  justify-content: space-between;
  background-color: white;
}

.logo {
  color: blue;
  font-size: 2em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
}

.desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.nav1 {
  transition: 0.3s;
}

.nav1:hover {
  color: #3d6e70ff;
}

.nav2 {
  transition: 0.3s;
  margin-left: 2vw;
}

.nav2:hover {
  color: #3d6e70ff;
}

.nav3 {
  transition: 0.3s;
  margin-left: 2vw;
}

.nav3:hover {
  color: #3d6e70ff;
}

.nav5 {
  transition: 0.3s;
  margin-left: 2vw;
}

.nav5:hover {
  color: #3d6e70ff;
}

.login {
  border-color: blue;
  border-width: 1px;
  margin-right: 2vw;
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
}
.login1 {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.register {
  color: white;
  transition: 0.3s;
  font-weight: bold;
  border-color: rgb(0, 170, 255);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  background-color: rgb(0, 170, 255);
}

.register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}

.burger-menu {
  display: none;
}

.mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
  justify-content: space-between;
}

.close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav11 {
  color: black;
  margin-bottom: 1vw;
}

.nav21 {
  color: black;
  margin-bottom: 1vw;
}

.nav31 {
  color: black;
  margin-bottom: 1vw;
}

.nav4 {
  color: black;
  margin-bottom: 1vw;
}

.nav51 {
  color: black;
  margin-bottom: 1vw;
}

.register1 {
  color: white;
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}

.register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: rgb(136, 217, 255);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus,
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.start {
  float: right;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.start2 {
  float: right;
  font-size: 20px;
  border-radius: 50px;
}

.form-select {
  color: rgb(201, 134, 134);
  width: 250px;
  font-size: 30px;
}

.inputt {
  color: black;
  background-color: white;
}

.labell {
  color: rgb(205, 164, 164);
}


#careerBox {
  display: none;
}

#nameBox {
  display: none;
}