.hanvit1-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.hanvit1-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    background-color: var(--dl-color-primary-700);
}

.hanvit1-navbar-interactive {
    width: 90%;
    display: flex;
    position: sticky;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    border-radius: 50px;
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
}

.hanvit1-logo {
    color: var(--dl-color-primary-300);
    font-size: 2em;
    font-family: "Lato";
    font-weight: bold;
    text-transform: uppercase;
}

.hanvit1-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.hanvit1-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.hanvit1-nav1 {
    transition: 0.3s;
}

.hanvit1-nav1:hover {
    color: #3d6e70ff;
}

.hanvit1-nav2 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.hanvit1-nav2:hover {
    color: #3d6e70ff;
}

.hanvit1-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.hanvit1-nav3:hover {
    color: #3d6e70ff;
}

.hanvit1-nav5 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.hanvit1-nav5:hover {
    color: #3d6e70ff;
}

.hanvit1-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.hanvit1-login {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
}

.hanvit1-register {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: bold;
    border-color: var(--dl-color-primary-300);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary-300);
}

.hanvit1-register:hover {
    border-color: rgba(41, 20, 119, 0.9);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgba(41, 20, 119, 0.9);
}

.hanvit1-burger-menu {
    display: none;
}

.hanvit1-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
}

.hanvit1-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
}

.hanvit1-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.hanvit1-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.hanvit1-logo1 {
    font-size: 2em;
    font-weight: bold;
}

.hanvit1-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hanvit1-icon02 {
    fill: var(--dl-color-gray-900);
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
}

.hanvit1-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.hanvit1-nav11 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.hanvit1-nav21 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.hanvit1-nav31 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.hanvit1-nav4 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.hanvit1-nav51 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.hanvit1-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.hanvit1-login1 {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
}

.hanvit1-register1 {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
}

.hanvit1-register1:hover {
    border-color: #849492ff;
    background-color: #849492ff;
}

.hanvit1-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.hanvit1-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.hanvit1-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.hanvit1-hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--dl-color-primary1-blue80);
}

.hanvit1-hero1 {
    width: 100%;
    height: 862px;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    min-height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: #ffffff;
}

.hanvit1-li {
    width: 303px;
    height: 384px;
    align-self: center;
}

.hanvit1-footer {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}

.hanvit1-container1 {
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.hanvit1-nav1 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
}

.hanvit1-text1 {
    margin-left: 0px;
}

.hanvit1-text2 {
    margin-left: var(--dl-space-space-unit);
}

.hanvit1-text3 {
    margin-left: var(--dl-space-space-unit);
}

.hanvit1-text4 {
    margin-left: var(--dl-space-space-unit);
}

.hanvit1-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.hanvit1-container2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.hanvit1-icon-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.hanvit1-icon10 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.hanvit1-icon12 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.hanvit1-icon14 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

@media(max-width: 991px) {
    .hanvit1-hero1 {
        flex-direction: column;
    }
}

@media(max-width: 767px) {
    .hanvit1-navbar-interactive {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .hanvit1-desktop-menu {
        display: none;
    }

    .hanvit1-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hanvit1-mobile-menu {
        padding-top: var(--dl-space-space-oneandhalfunits);
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
        padding-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .hanvit1-nav11 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .hanvit1-nav21 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .hanvit1-nav31 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .hanvit1-nav4 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .hanvit1-nav51 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .hanvit1-hero1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .hanvit1-footer {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .hanvit1-separator {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .hanvit1-container2 {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .hanvit1-text5 {
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}

@media(max-width: 479px) {
    .hanvit1-navbar-interactive {
        width: 90%;
        padding: var(--dl-space-space-unit);
    }

    .hanvit1-logo {
        font-size: 1.5em;
    }

    .hanvit1-mobile-menu {
        padding: 16px;
    }

    .hanvit1-logo1 {
        font-size: 1.5em;
    }

    .hanvit1-icon02 {
        fill: var(--dl-color-gray-900);
    }

    .hanvit1-hero1 {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }

    .hanvit1-footer {
        padding: var(--dl-space-space-unit);
    }

    .hanvit1-separator {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .hanvit1-container2 {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .hanvit1-text5 {
        text-align: center;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    table {
        border-collapse: collapse;
        width: 50%;
        margin: 20px;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }
}

/* styles.css */

body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
}

li:hover {
    background-color: #f0f0f0;
}