.changi-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.changi-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    background-color: var(--dl-color-primary1-blue80);
}

.changi-navbar-interactive {
    width: 90%;
    display: flex;
    position: sticky;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    border-radius: 50px;
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
}

.changi-logo {
    font-size: 2em;
    font-family: "Lato";
    font-weight: bold;
    text-transform: uppercase;
}

.changi-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.changi-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.changi-nav1 {
    transition: 0.3s;
}

.changi-nav1:hover {
    color: #3d6e70ff;
}

.changi-nav2 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.changi-nav2:hover {
    color: #3d6e70ff;
}

.changi-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.changi-nav3:hover {
    color: #3d6e70ff;
}

.changi-nav4 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.changi-nav4:hover {
    color: #3d6e70ff;
}

.changi-nav5 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.changi-nav5:hover {
    color: #3d6e70ff;
}

.changi-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.changi-login {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
}

.changi-register {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: bold;
    border-color: var(--dl-color-primary1-blue100);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
}

.changi-register:hover {
    border-color: rgba(41, 20, 119, 0.9);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgba(41, 20, 119, 0.9);
}

.changi-burger-menu {
    display: none;
}

.changi-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
}

.changi-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
}

.changi-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.changi-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.changi-logo1 {
    font-size: 2em;
    font-weight: bold;
}

.changi-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.changi-icon02 {
    fill: var(--dl-color-gray-900);
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
}

.changi-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.changi-nav11 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.changi-nav21 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.changi-nav31 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.changi-nav41 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.changi-nav51 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.changi-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.changi-login1 {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
}

.changi-register1 {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
}

.changi-register1:hover {
    border-color: #849492ff;
    background-color: #849492ff;
}

.changi-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.changi-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.changi-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.changi-hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--dl-color-primary1-blue80);
}

.changi-hero1 {
    width: 100%;
    height: 867px;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    min-height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
}

.changi-container01 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.changi-hero-heading {
    color: var(--dl-color-gray-white);
    max-width: 800px;
    text-align: center;
    font-family: "Raleway";
    line-height: 1.6;
}

.changi-hero-sub-heading {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}

.changi-btn-group {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.changi-hero-button1 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    transition: 0.3s;
    font-weight: bold;
    padding-top: 1.5rem;
    border-color: var(--dl-color-primary1-blue100);
    border-width: 0px;
    padding-left: 3rem;
    border-radius: 45px;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
}

.changi-hero-button1:hover {
    color: var(--dl-color-gray-white);
    border-color: rgba(41, 20, 119, 0.9);
    background-color: rgba(41, 20, 119, 0.9);
}

.changi-hero-button2 {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: bold;
    padding-top: var(--dl-space-space-unit);
    border-color: transparent;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    background-color: transparent;
}

.changi-hero-button2:hover {
    border-color: var(--dl-color-gray-white);
}

.changi-pricing {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changi-pricing1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: none;
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.changi-container02 {
    gap: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.changi-text {
    color: var(--dl-color-primary1-blue80);
    font-family: "Raleway";
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.changi-pricing-heading {
    font-family: "Raleway";
    line-height: 1.6;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.changi-pricing-sub-heading {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}

.changi-container03 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    justify-content: center;
}

.changi-pricing-card {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    max-width: 450px;
    min-height: 450px;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: var(--dl-color-primary1-blue60);
}

.changi-container04 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.changi-text03 {
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
}

.changi-free-plan-description {
    line-height: 1.6;
}

.changi-container05 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
}

.changi-text04 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
}

.changi-free-plan-price {
    font-size: 4rem;
    font-weight: 700;
}

.changi-container06 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.changi-container07 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text07 {
    color: var(--dl-color-gray-800);
}

.changi-free-plan-features {
    color: var(--dl-color-gray-800);
}

.changi-container08 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text08 {
    color: var(--dl-color-gray-800);
}

.changi-free-plan-features1 {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-container09 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text09 {
    color: var(--dl-color-gray-800);
}

.changi-free-plan-features2 {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-container10 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text10 {
    color: var(--dl-color-gray-800);
}

.changi-free-plan-features3 {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-button {
    color: var(--dl-color-gray-black);
    width: 100%;
    margin-top: auto;
    transition: 0.3s;
    font-weight: 700;
    padding-top: 1rem;
    border-color: var(--dl-color-primary1-blue100);
    border-radius: 45px;
    padding-bottom: 1rem;
    background-color: transparent;
}

.changi-button:hover {
    border-color: rgba(41, 20, 119, 0.9);
    background-color: rgba(217, 217, 217, 0.1);
}

.changi-pricing-card1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
    min-height: 450px;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
    background-color: var(--dl-color-primary1-blue60);
}

.changi-container11 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.changi-text11 {
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
}

.changi-basic-plan-description {
    line-height: 1.6;
}

.changi-container12 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
}

.changi-text12 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
}

.changi-basic-plan-pricing {
    font-size: 4rem;
    font-weight: 700;
}

.changi-text15 {
    font-size: 1.15rem;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
}

.changi-container13 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
}

.changi-container14 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text16 {
    color: var(--dl-color-gray-800);
}

.changi-text17 {
    color: var(--dl-color-gray-800);
}

.changi-container15 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text18 {
    color: var(--dl-color-gray-800);
}

.changi-basic-plan-features {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-container16 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text19 {
    color: var(--dl-color-gray-800);
}

.changi-basic-plan-features1 {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-container17 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text20 {
    color: var(--dl-color-gray-800);
}

.changi-basic-plan-features2 {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-container18 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text21 {
    color: var(--dl-color-gray-800);
}

.changi-basic-plan-features3 {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-button1 {
    color: var(--dl-color-gray-white);
    width: 100%;
    margin-top: auto;
    transition: 0.3s;
    font-weight: 700;
    padding-top: 1rem;
    border-color: rgba(41, 20, 119, 0.9);
    border-width: 0px;
    border-radius: 45px;
    padding-bottom: 1rem;
    background-color: var(--dl-color-primary1-blue100);
}

.changi-button1:hover {
    border-color: rgba(41, 20, 119, 0.9);
    background-color: rgba(41, 20, 119, 0.9);
}

.changi-pricing-card2 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    max-width: 450px;
    min-height: 450px;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-primary1-blue60);
}

.changi-container19 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.changi-text22 {
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
}

.changi-pro-plan-description {
    line-height: 1.6;
}

.changi-container20 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
}

.changi-text25 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
}

.changi-pro-plan-pricing {
    font-size: 4rem;
    font-weight: 700;
}

.changi-text28 {
    font-size: 1.15rem;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
}

.changi-container21 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.changi-container22 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text29 {
    color: var(--dl-color-gray-800);
}

.changi-text30 {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-container23 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text31 {
    color: var(--dl-color-gray-800);
}

.changi-pro-plan-features {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-container24 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text32 {
    color: var(--dl-color-gray-800);
}

.changi-pro-plan-features1 {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-container25 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}

.changi-text33 {
    color: var(--dl-color-gray-800);
}

.changi-pro-plan-features2 {
    color: var(--dl-color-gray-800);
    line-height: 1.6;
}

.changi-button2 {
    color: var(--dl-color-gray-white);
    width: 100%;
    margin-top: auto;
    transition: 0.3s;
    font-weight: 700;
    padding-top: 1rem;
    border-color: #3d6e70ff;
    border-width: 0px;
    border-radius: 45px;
    padding-bottom: 1rem;
    background-color: var(--dl-color-primary1-blue100);
}

.changi-button2:hover {
    border-color: rgba(41, 20, 119, 0.9);
    background-color: rgba(41, 20, 119, 0.9);
}

@media(max-width: 991px) {
    .changi-hero1 {
        flex-direction: column;
    }

    .changi-container01 {
        align-items: center;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-twounits);
        padding-right: 0px;
    }

    .changi-hero-heading {
        text-align: center;
    }

    .changi-hero-sub-heading {
        text-align: center;
        padding-left: var(--dl-space-space-threeunits);
        padding-right: var(--dl-space-space-threeunits);
    }

    .changi-pricing-sub-heading {
        text-align: center;
        padding-left: var(--dl-space-space-threeunits);
        padding-right: var(--dl-space-space-threeunits);
    }

    .changi-container03 {
        align-items: center;
        flex-direction: column;
    }

    .changi-pricing-card {
        width: 100%;
        padding: var(--dl-space-space-twounits);
        max-width: 450px;
    }

    .changi-pricing-card1 {
        width: 100%;
        max-width: 450px;
    }

    .changi-pricing-card2 {
        width: 100%;
        max-width: 450px;
    }
}

@media(max-width: 767px) {
    .changi-navbar-interactive {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .changi-desktop-menu {
        display: none;
    }

    .changi-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .changi-mobile-menu {
        padding-top: var(--dl-space-space-oneandhalfunits);
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
        padding-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .changi-nav11 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .changi-nav21 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .changi-nav31 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .changi-nav41 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .changi-nav51 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .changi-hero1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .changi-hero-sub-heading {
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .changi-pricing1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .changi-pricing-sub-heading {
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .changi-container03 {
        align-items: center;
        flex-direction: column;
    }

    .changi-pricing-card {
        width: 100%;
        max-width: 450px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-twounits);
    }

    .changi-pricing-card1 {
        width: 100%;
        max-width: 450px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-twounits);
    }

    .changi-pricing-card2 {
        width: 100%;
        max-width: 450px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-twounits);
    }
}

@media(max-width: 479px) {
    .changi-navbar-interactive {
        width: 90%;
        padding: var(--dl-space-space-unit);
    }

    .changi-logo {
        font-size: 1.5em;
    }

    .changi-mobile-menu {
        padding: 16px;
    }

    .changi-logo1 {
        font-size: 1.5em;
    }

    .changi-icon02 {
        fill: var(--dl-color-gray-900);
    }

    .changi-hero1 {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }

    .changi-container01 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .changi-btn-group {
        flex-direction: column;
    }

    .changi-hero-button2 {
        margin-top: var(--dl-space-space-unit);
        margin-left: 0px;
    }

    .changi-pricing-card2 {
        margin-bottom: 0px;
    }
}