
/* 스타일은 이전 코드 그대로 사용 */

.additional-text {
  /* 추가 텍스트 스타일 조절 */
  text-align: center;
  margin-bottom: 10px; /* 텍스트와 버튼 사이 간격 조절 (필요에 따라 조절) */
  font-size: 35px; /* 텍스트 크기 조절 (필요에 따라 조절) */
}

/*적당한 공간*/

h2 {
  text-align: center;
  color: #333;
}

table {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  background-color: #f2f2f2;
}

.search-container {
  width: 80%;
  margin: 20px auto; /* 검색 컨테이너를 수평 중앙으로 정렬 */
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
input {
  flex: 1; /* 인풋이 가능한 최대 크기를 차지하도록 설정 */
  padding: 8px;
  margin-right: 10px; /* 인풋 오른쪽 마진 추가 */
}

button {
  padding: 8px;
  cursor: pointer;
}
.login,
.register {
  cursor: pointer;
}
.desktop-menu .links span {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.go {
  font-size: 20px;
  width: 80px; /* 가로 크기를 조절 (필요에 따라 조절) */
  height: 40px; /* 세로 크기를 조절 (필요에 따라 조절) */
  border-radius: 50px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* 모달 스타일 */
#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 160px; /* 필요에 따라 조절하세요 */
}

.modal-button {
  font-size: 30px;
  width: 300px; /* 가로 크기를 조절 (필요에 따라 조절) */
  height: 80px; /* 세로 크기를 조절 (필요에 따라 조절) */
  border-radius: 50px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #2980b9;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* 회원가입모달 스타일 */
#signUpmodal {
  
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.signUpmodal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 모달 창의 너비를 조정할 수 있습니다. */
  max-width: 530px; /* 모달 창의 최대 너비를 조정할 수 있습니다. */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.signUpmodal-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; /* 필요에 따라 조절하세요 */
}

.signUpmodal-button {
  font-size: 30px;
  width: 300px; /* 가로 크기를 조절 (필요에 따라 조절) */
  height: 80px; /* 세로 크기를 조절 (필요에 따라 조절) */
  border-radius: 50px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.signUpmodal-button:hover {
  background-color: #2980b9;
}

.signUpclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.signUpclose:hover,
.signUpclose:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#dataTable {
  color: black;
}

/* 회원가입 모달 */

.signup-container {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.signUpLabel {
  display: block;
  margin-bottom: 8px;
}

.signUpInput {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.signUpButton {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signUpButton:hover {
  background-color: #2980b9;
}

.form-select {
  font-size: 28px;
  width: 400px;
}

#careerBox {
  display: none;
}

#nameBox {
  display: none;
}


/* 로그인모달 스타일 */
#logInmodal {
  
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.logInmodal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 모달 창의 너비를 조정할 수 있습니다. */
  max-width: 530px; /* 모달 창의 최대 너비를 조정할 수 있습니다. */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logInmodal-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; /* 필요에 따라 조절하세요 */
}

.logInmodal-button {
  font-size: 30px;
  width: 300px; /* 가로 크기를 조절 (필요에 따라 조절) */
  height: 80px; /* 세로 크기를 조절 (필요에 따라 조절) */
  border-radius: 50px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.logInmodal-button:hover {
  background-color: #2980b9;
}

.logInclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.logInclose:hover,
.logInclose:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}


.signInButton {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}