/* createpet.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: #343a40;
  color: #fff;
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid #dee2e6;
}

nav {
  background-color: #e9ecef;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 1em;
  text-decoration: none;
  color: #495057;
  font-weight: bold;
}

nav a.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #343a40;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a.button:hover {
  background-color: #495057;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 1em;
  text-align: center;
  border-top: 2px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.pet-registration {
  text-align: center;
  margin: 80px auto;
  width: 300px; /* Adjust the width as needed */
  background: linear-gradient(135deg, #f8f9fa, #ced4da);
  border: 2px solid #343a40; /* Add a solid border */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.pet-registration h2 {
  margin-bottom: 30px;
  color: #343a40;
}

.pet-registration form {
  display: flex;
  flex-direction: column;
}

.pet-registration label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #343a40;
}

.pet-registration input {
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.pet-registration button {
  background-color: #343a40;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pet-registration button:hover {
  background-color: #495057;
}
