.profile-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.pet-container {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.pet-profile {
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.profile-label {
  font-weight: bold;
  margin: 0;
}

.profile-value {
  margin: 5px 0;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* 수정과 삭제 버튼에 여백 추가 및 새로운 스타일 적용 */
.pet-profile button {
  margin: 0 auto;
  /* 가운데 정렬을 위한 수정 */
  display: block;
  /* 여러 버튼이 가로로 나열되지 않게 하기 위해 수정 */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.pet-profile button {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* 수정 버튼 스타일 */
.pet-profile button.edit-button {
  background-color: #4caf50;
  color: #fff;
}

/* 삭제 버튼 스타일 */
.pet-profile button.delete-button {
  background-color: #f44336;
  color: #fff;
}

/* 버튼에 호버 효과 추가 */
.pet-profile button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 80%;
  width: 400px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  height: 400px;
  /* 높이를 자동으로 조절하도록 변경 */
}

/* 모달 내부 요소 스타일 */
.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.modal button {
  width: 38%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.modal button.cancel-button {
  background-color: #f44336;
}

.modal button:hover {
  background-color: #555;
}

/* 미디어 쿼리 수정 */
@media screen and (max-width: 600px) {
  .modal button {
    width: 100%;
    margin-right: 0;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  position: relative;
}

th {
  background-color: #f2f2f2;
}

.edit-button,
.delete-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.edit-button {
  left: 10%;
  /* 수정: 수정 버튼을 좌측에 위치 */
}

.delete-button {
  right: 10%;
  /* 수정: 삭제 버튼을 우측에 위치 */
}

.edit-button:hover,
.delete-button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3vh;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  position: relative;
}

th {
  background-color: #f2f2f2;
}

.table-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 6vh 10vw;
  text-align: center;
}